#RectWhite {
    -fx-background-radius: 50;
    -fx-background-color: WHITE;
}

#RectPurple {
    -fx-background-radius: 50;
    -fx-background-color: #983faf;
}

#RectLightpurple {
    -fx-background-radius: 50;
    -fx-background-color: #d962f6;
}

.Rectangle {
    -fx-background-radius: 50;
}