#AnchorPane {
    -fx-background-radius: 20;
    -fx-background-color: rgba(122, 122, 122, 0.6);
}

.text-field {
    -fx-padding: 0.7em 0.57em;
    -fx-font-size: 30px;
    -fx-background-color: rgb(255,255,255);
    -fx-pref-width: 200;
    -fx-text-fill: #363636;
    -fx-background-radius: 50;
    -fx-font-family: "Baskerville Old Face";
    -fx-alignment: CENTER;
}

.button {
    -fx-padding: 0.7em 0.57em;
    -fx-font-size: 30px;
    -fx-background-color: rgb(152,63,175);
    -fx-pref-width: 100;
    -fx-text-fill: WHITE;
    -fx-background-radius: 50;
    -fx-alignment: CENTER;
}

.button:hover {
    -fx-padding: 0.7em 0.57em;
    -fx-font-size: 30px;
    -fx-background-color: rgb(217, 98, 246);
    -fx-opacity: 50%;
    -fx-pref-width: 100;
    -fx-text-fill: WHITE;
    -fx-background-radius: 50;
    -fx-alignment: CENTER;
}

#BackgroundPane {
    -fx-background-image: url("Images/bgImageCut.png");
}