.button {
    -fx-padding: 0.7em 0.57em;
    -fx-font-size: 30px;
    -fx-background-color: rgba(152,63,175);
    -fx-pref-width: 100;
    -fx-text-fill: WHITE;
    -fx-background-radius: 50;
    -fx-alignment: CENTER;
    }

.button:hover {
    -fx-padding: 0.7em 0.57em;
    -fx-font-size: 30px;
    -fx-background-color: rgba(152,63,175);
    -fx-opacity: 50%;
    -fx-pref-width: 100;
    -fx-text-fill: WHITE;
    -fx-background-radius: 50;
    -fx-alignment: CENTER;
}

VBox, HBox, Pane, AnchorPane{
    -fx-background-color: RGBA(221,221,221,0.5);
    -fx-border-radius: 50;
    -fx-arc-height: 50;
    -fx-arc-width: 50;
}

.text-field {
    -fx-padding: 0.7em 0.57em;
    -fx-font-size: 30px;
    -fx-background-color: rgb(255,255,255);
    -fx-pref-width: 200;
    -fx-text-fill: #363636;
    -fx-background-radius: 50;
    -fx-font-family: "Baskerville Old Face";
    -fx-alignment: CENTER;
}

