.button {
    -fx-padding: 0.7em 0.57em;
    -fx-font-size: 30px;
    -fx-background-color: rgb(152,63,175);
    -fx-pref-width: 100;
    -fx-text-fill: WHITE;
    -fx-background-radius: 50;
    -fx-alignment: CENTER;
    }

.text-field {
    -fx-padding: 0.7em 0.57em;
    -fx-font-size: 30px;
    -fx-background-color: rgb(255,255,255);
    -fx-pref-width: 200;
    -fx-text-fill: #363636;
    -fx-background-radius: 50;
    -fx-font-family: "Baskerville Old Face";
    -fx-alignment: CENTER;
}

.rectangle {
    -fx-arc-width: 20px;
    -fx-arc-height: 20px;
    -fx-border-width: 0px;
    -fx-opacity: 0.5;
    -fx-fill: #dddddd;
}